@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
:root{
    --yellow:#FFB400;
    --dark_grey:#767676;
    --light_grey:#E4E6EB;
    --light_white:#F0F0F6;
    --black:#2B2B2B;
    --white:#FFFFFF;
}
*{
    font-family:sans-serif;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    background-color: var(--light_grey);

}
/* aside bar */
aside{
    width: 443px;
    height: 100vh;
    order:1;
    top:0;
    position: sticky;
    background-color:var(--black);
    color:var(--white); 
}
/* navigation bar */
nav{
    height: 100vh;
    width: 121px;
    order:3;
    position: sticky;
    top:0;
    background-color: var(--white);
}
/* main content */
main{
    width: 100%;
    height: auto;
    order:2;
    margin: 3%;     
}
hr{
    width: 100%;
    height: 3px;
    background-color: var(--white);
}
/* drop-down section */
.dropdown{
    height: auto;
    width: 100%;
    top:0;
    position: fixed;   
    background-color: var(--white);
    z-index: 98;
}

.hmenu{
    display: none;
    width: 100%;
    cursor: pointer;
    height: 35px;
    background: none;
    border: none;
    top:0;
    position: fixed;
    z-index: 99;
    margin: 3px auto 0px 3px;
    background-color: transparent;


}

.hmenu .hbar, .hmenu:before, .hmenu:after{
    width: 35px;
    height: 5px;
    content: '';
    display: block;
    background-color: black;
    margin: 6px 10px;
    transform: 0.4s;
}
.hmenu.is-active:before{
    transform: rotate(-45deg) translate(-8px, 6px);
}
.hmenu.is-active:after {
    transform: rotate(45deg) translate(-8px, -9px);
}
.hmenu.is-active .hbar{
    opacity: 0;
}

.mnav{
    display: none;
    position: fixed;
    left: -100%;
    width: 70%;
    min-height: 100vh;
    z-index: 97;
    background-color:var(--light_grey);
    transition: 0.5s;

}
.mnav a{
    display: block;
    text-align: center;
    padding: 20px;
    width: 50%;
    border-radius: 20px;
    margin: 10px auto 20px;
    background-color: var(--dark_grey);
    text-decoration: none;
    color:var(--white);
}
.mnav.is-active{
    left:0;
}

.maincontent h1{
    font-size: clamp(80px,90px,12vw);
}
@media (max-width: 769px) {
    body{
        flex-direction:column;

    }
    aside{
        order:2;
        width: 100%;
        height: auto;
        margin-left:10px;
    }
    main{
        order:1;
        height: auto;
        width: 100%;
        margin: 10px;
    }
    .maincontent{
        margin: 3%;
        margin-top: 30px;
    }

    nav{
        display: none;
    }

    .image,
    .eachlink {
        margin:0;
    }
    .dropbar{
        display: block;
    }
    .hmenu{
        display: block;
    }
    .mnav{
            display: block;
    }
}

/* **************************aside content*****************  */

.image{
    height: 100px;
    width: 80%;
    margin: 20px auto; 
    display: flex;
    align-items: center;
    gap:5px;
}

.image h1{
    font-size: x-large;
}
.image h1 a{
    text-decoration: none;
    color: white;
}

.eachlink{
width: 80%;
position: sticky;
margin: 20px auto; 
display: flex;
flex-direction: column;
}

.eachlink h3{
    font-size: 25px;
    margin-top: 20px;
}

.eachlink a{
    text-decoration: none;
    color: var(--white);
    font-size: 20px;
    margin-top: 10px;
    color:var(--yellow)
}

/* menu bar */
.menu {
    width: 100%;
    top:0;
    height: auto;
    margin:100px auto;
    background-color: var(--white);
    align-items: center;
    position: sticky;
    text-align: center;
    
}

/* dark and light mode */
.nlmode {
    max-width: 30px;
    min-height: 30px;
    border-radius: 30px;
    margin: 0 auto;
    color: var(--black);
    margin-top: 50px;
}

.nlmode i {
    font-size: clamp(20px, 10.5px, 50px);
}

.menu_components {
    min-height: 40px;
    width: 40px;
    max-width: 100%;
    background-color: var(--light_grey);
    border-radius: 30px;
    color: var(--black);
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.menuSection{
    margin-top:60px;
}
.menuSection a {
    font-size: 20px;  
    display: block;
    
    color: var(--black);
    text-decoration: none;
    transition:0.3s  ease;
}
.hover-text {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.1s;
    position: absolute;
    font-size: 14px;
    margin-bottom: 10px;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--black);
    color: #fff;
    padding: 8px;
    border-radius: 4px;
    white-space: nowrap;
}

.menu_components:hover{
background-color: var(--yellow);
}
.menu_components:hover .hover-text {
    background-color: var(--black);
    visibility: visible;
    opacity: 1;
} 

/* *********** Main Content ****************** */

main h1{
    font-size: clamp(86px,5vw,200px);
    font-style: normal;
    font-weight: 500;
}

.heading{
    width: 100%;
    display: flex;
    height: 100%;
    flex-direction: row;
    gap: 20px;  
    height: 400px;
    margin-top: 20px;
}

.imagetitle{
    width: 600px;

}
.imagetitle  img{
    border: 0.5px solid var(--black);
    width:100%;
    height: 100%;
}
.heading .bloginfo{
    align-self: flex-end;
}
.bloginfo h3{
    font-weight: normal;
}
.bloginfo h3 span{
    font-weight: bold;
}

@media (max-width: 769px) {
    .heading{
        display: flex;
        flex-direction:column;
        gap: 20px; 
        width: 100%; 
        height: auto;
    }
    .imagetitle{
        width: 100%;
        order: 1;
    }
    .imagetitle img {
        width: 100%;
        height: auto;
     
    }
    .heading .bloginfo{
       margin-top: 5px; 
        order:2;
        align-self: flex-start;
    }
   
}

/* article section */

.article{
    margin-top:50px;

}
.article p{
    color: #000;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 123.6%; 
}

/* Reaction section */

.blog_reaction{
    margin-top: 30px;
    display: flex;
    gap:30px;
}

/* each reaction icon */

.reaction{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3px;
}
.reaction i{
    font-size: 30px;
}
.reaction p{
    color: green;
    font-size: 30px;
}

/* comment section*/

.comment_section{
    margin-top: 100px;
    width: 100%;
}

.each_input_comment{
    display: flex;
    flex-direction: column;
    margin-top:20px;

}
input[type="text"]{
    width: 40%;
    height: 30px;
    border-radius: 7px;
    background-color: transparent;
    font-size: 16px;
}
 textarea{
    width:70%;
    height:auto;
    border-radius: 7px;
    background-color: transparent;
 }
 .error{
        margin-top: 10px;
        font-size: 20px;
        color: red;
 }
.comment_form button{ 
        background-color: var(--yellow);
        width: clamp(40px,40%,100%);
        height: 40px;
        border-radius: 7px;
        margin-top:20px;
        font-size: clamp(15px,80%,100%);
        border: 1px solid var(--yellow);
}

.comments_section{
    margin-top:50px;
    width: 70%;
    height: auto;
    border: 1px solid var(--black);
    border-radius: 5px;
    box-shadow: 3px 2px var(--black) ;
}
.comments_section p{
    margin-top:20px;
}
.comment_react{
    margin: 2%;
    display: flex;
    justify-content: right;
}
.comment_react button{
    width: 30%;
    height: 40px;
    background-color: var(--yellow);
    border: 1px solid var(--yellow);
    border-radius: 10px;
    font-size: 20px;
}
.comment_info{
    margin:2%
}


@media (max-width: 768px) {
    textarea{
        width:100%;
    }
    input[type="text"]{
    width: 80%;
    }
    .comments_section{
        width: 100%;
    }
}