@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

:root{
--yellow:#FFB400;
--dark_grey:#767676;
--light_grey:#E4E6EB;
--light_white:#F0F0F6;
--black:#2B2B2B;
--white:#FFFFFF;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--light_white);
    font-family: 'Inter', sans-serif;

}
.content{
    position: relative;
    display: flex;
}
.content .navigation{
    background-color: var(--white);
    width:clamp(5%,15%,10%);
    height: 100%;
    top: 0;
    right: 0;
    position: fixed;   
}
.menu{
    margin: 100px auto;
    width: 100%;
    align-items: center;
    text-align: center;
}
/* dark and light mode */
.nlmode{
    max-width: 20px;
    min-height: 20px;
    border-radius: 30px;
    margin: 0 auto;
    color: var(--black);
}
.nlmode i{
    font-size: clamp(20px,1.5vw,50px);
}

/* menu links */
.menu_links{
    margin-top: 100px;
}

.menu_components a {
    background-color: var(--light_white);
   width: clamp(20px,50px,100px);
    min-height:clamp(20px,50px,100px);
    margin: 50px auto;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.menu_components a i{
   font-size:30px;  
   color:var(--black);
 
}
.menu_components a i:hover,
.menu_components a:hover{
    background-color: var(--yellow);
    color:black;
  
} 
/* main section */
.main_section{
    width: 90%;
    margin:0 auto;
}
/* h1 heading */
h1{
    text-align: center;
    font-size:clamp(10px,96px,96px);
    font-weight: medium;
    color: var(--black);
}
/* blog cards */
.blog_cards_container{ 
    width: 80%;
    margin: 0 auto ;
    z-index: 1;
    margin-top: 2vh;
    display: flex;
    justify-content:center;
    gap:50px;
    align-items: center;
    flex-wrap: wrap;
}
/* each blog card */
.blog_card{
    width: clamp(305px,20vw,400px);
    min-height: 480px;
    background-color: white;
    border: 1px solid white;
    margin-bottom:20px;
}
/*blog card image  */
.blog_card img{
    max-width: 100%;
    min-height: 280px;
}
/* blog word */
.blog_word{
    width: 80%;
    margin: 40px auto;
    height: calc(100%-280px);
}
/* blog card title */
.blog_word h2{
    color:var(--black);
}
/* blog card paragraph */
.blog_word p{
    color: var(--dark_grey);
    margin-bottom: 30px;
}
/* blog card link */
.blog_word a{
    color: var(--yellow);
    text-decoration: none;  
}



/* dropdown bar */
.dropdownbar img{
    display: none;
}

/* media querie for 440px screen */
@media(max-width:440px){
    .navigation{
        display:none;
    }
    .dropdownbar{
        max-width: 50px;
    }
    .dropdownbar img{
        display: inline;
        max-width: 50px;
        height: 48px;
        margin-top: 10px;
    }
    h1{
        font-size:48px;
    }
}

.icon_reaction{
   width: 100%;
   height: 20px;
}

.iconreact{
    display: flex;
    gap:70px;
}