@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');

:root{
    --yellow:#FFB400;
    --dark_grey:#767676;
    --light_grey:#E4E6EB;
    --light_white:#F0F0F6;
    --black:#2B2B2B;
    --white:#FFFFFF;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    scroll-behavior: smooth;
}

body{
    background-color: var(--light_white); 
    font-family: 'Inter', sans-serif;  
}

::-webkit-scrollbar {
    
    display: none;
}

main{
    display: flex;
}

nav{
    width: 108px;
    height: 100vh;
    position: sticky;
    background-color: var(--white);
    top:0;
    right: 0;
    display: block;
}

section{
    width:calc(100% - 108px);
    height: 100%;
}

.main_content{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    z-index: 1;
}


/* drop-down section */
.dropdown{
    height: auto;
    width: 100%;
    top:0;
    position: relative;
    z-index: 98;

    
}

.hmenu{
    display: none;
    width: 100%;
    cursor: pointer;
    height: 35px;
    background: none;
    border: none;
    top:0;
    right: 0;
    position: fixed;
    z-index: 99;
    margin: 3px auto 0px 3px;
    background-color: transparent;

}

.hmenu .hbar, .hmenu:before, .hmenu:after{
    width: 35px;
    height: 5px;
    content: '';
    display: block;
    background-color: black;
    margin: 6px 10px;
    transform: 0.4s;
}
.hmenu.is-active:before{
    transform: rotate(-45deg) translate(-8px, 6px);
}
.hmenu.is-active:after {
    transform: rotate(45deg) translate(-8px, -9px);
}
.hmenu.is-active .hbar{
    opacity: 0;
}

.mnav{
    display: none;
    position: fixed;
    left: -100%;
    width: 70%;
    min-height: 100vh;
    z-index: 97;
    background-color:var(--light_grey);
    transition: 0.5s;

}
.mnav a{
    display: block;
    text-align: center;
    padding: 20px;
    width: 50%;
    border-radius: 20px;
    margin: 10px auto 20px;
    background-color: var(--dark_grey);
    text-decoration: none;
    color:var(--white);
}
.mnav.is-active{
    left:0;
}
 
/* *****************menu bar***************** */
.menu {
    width: 100%;
    top:0;
    height: auto;
    margin:100px auto;
    background-color: var(--white);
    align-items: center;
    position: sticky;
    text-align: center;
    
}

/* dark and light mode */
.nlmode {
    max-width: 30px;
    min-height: 30px;
    border-radius: 30px;
    margin: 0 auto;
    color: var(--black);
    margin-top: 50px;
}

.nlmode i {
    font-size: clamp(20px, 10.5px, 50px);
}

.menu_components {
    min-height: 40px;
    width: 40px;
    max-width: 100%;
    background-color: var(--light_grey);
    border-radius: 30px;
    color: var(--black);
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.menuSection{
    margin-top:60px;
}
.menuSection a {
    font-size: 20px;  
    display: block;
    
    color: var(--black);
    text-decoration: none;
    transition:0.3s  ease;
}
.hover-text {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.1s;
    position: absolute;
    font-size: 14px;
    margin-bottom: 10px;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--black);
    color: #fff;
    padding: 8px;
    border-radius: 4px;
    white-space: nowrap;
}

.menu_components:hover{
background-color: var(--yellow);
}
.menu_components:hover .hover-text {
    background-color: var(--black);
    visibility: visible;
    opacity: 1;
} 

@media (max-width: 768px){
    .dropbar{
        display: block;
    }
    nav{
       display: none;
    }
    .hmenu{
        display: block;
        right:0;
    }
    .mnav{
            display: block;
    }
    section {
        width: 100%;
        height: 100%;
    }

    .main_content{
        width: 100%;
        height:auto;
        margin: 0 auto;
    }
    
}

@media (max-width: 1200px) {
    .main_content{
        height: auto;
    }
}


/* ******************other sections************************************ */


.homepage{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--white);
    background-image:url(/img/background.jpg);
    background-size: cover;
}


.img{
    display: flex;
    width: 40%;
    height: 100%;
    justify-content: center;
    align-self: flex-end;

}
.img img{
    max-width:80%;
    height: clamp(20%,60%,70%);    
    align-self: flex-end;
    margin-right: 20px;    
}
.home{
    width: 60%;
}
/* for the yellow word */
.home h1,span{
    color:var(--yellow);
}
/* home page h1 and h2 */
.home h1,h2{
    font-size: 3vw;
    margin-left:50px;
    font-weight:black 900;
}
/* home page h1 */
.home h1{
    margin-top:20vh;

}
/* home page h2 */
.home h2{
    margin-top: 5vh;
}
/* home page paragraph */
.home p{
    margin:10vh 0 0 50px;
    font-size: 2vw;
}
.links{
    width: 100%;
    margin: 20px 0 0 50px;
}
/* links for the social medias */
.linkscontainer{
    display: flex;  
    gap:10px ;
    margin-bottom: 40px;
}


.link_icons{
    height: 30px;
    width: 30px;
    background-color: var(--yellow);
    border-radius:30px;
    color:var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
}
.link_icons a i{
    color: var(--black);
    margin-top: 3px;
  }
  /* HIRE BUTTON  */
.hirebtn{
    min-height: 51px;
    width: clamp(100px,8vw,154px);
    background-color: var(--yellow);
    border: 1px solid var(--yellow);
    font-weight:normal;
    border-color: var(--yellow);
    border-radius: 5px;
    font-size: 16px;
    margin:10vh 0 0 50px;
    align-items: center;
    text-align: center;
}


/* ***************About me page****************** */


.about_page{
    margin:5vh auto;
    width: 95%;    
}
.about_page h1{
        text-align: center;
        font-size: clamp(20px,40px,10vw);
        color: var(--black);       
}

.about_page p{
        color:var(--black);
        font-size:clamp(40px,50px,10vw);
        margin-top: 50px;
        text-align:justify;
        white-space:wrap;
        box-sizing: border-box;
}
@media (max-width: 565px) {
    .about_page p{
        font-size:39px;    
        padding: 0 1.5rem; 
}
}

@media (max-width:900px) {
    .about_page p{
        margin: 5vh 0 0 0;
    }
}



/* ****************Skills Container************* */

.skills{
    width: 90%;
    height: 100%;
    margin:0 auto;
}
.skill_box{    
   margin: 0 auto;
   width: 86%;
}
.skills h1{
    font-size:clamp(20px,40px,10vw);
    color:var(--black);
    text-align: center;
}

.skill{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    color:var(--dark_grey)
}
.bar{
    background-color: var(--white);
    border: 0.5px solid var(--yellow);
    height: 6px;
    border-radius: 30px;
    margin-top: 10px;
}
.myBar{
    height: 2px;
    border:0.5px solid var(--yellow);
    background-color: var(--yellow);
    border-radius: 30px;
    left:0;
    margin: 1px;
}
.extra_skills{
    margin:0vw auto;
    width: 87%;
}
.extra_skills h3{
    font-size: 2vw;
    text-align: left;
    margin-top: 5vh;
    color: var(--black);
}
.moreskills{
    margin-top: 30px;
}
.moreskills p{
        color: var(--dark_grey);
        margin-top:5px;
}
.moreskills p i{
    color:var(--yellow)
}
.download{
    display: flex;
    justify-content: center;
    
}
.downloadbtn{
    width: 50%;
    height: 40px;
    background-color: var(--yellow);
    border: 1px solid var(--yellow);
    color:var(--black);
    font-size:14px;
    font-weight: bold;
    margin: 4vh auto;
}


/* ************My Services*********** */

.services{
    min-height: 100%;
    width: 95%;
    margin: 0 auto;    
}

.services h1{
    color: var(--black);
    text-align:center;
    font-size:clamp(20px,40px,10vw);
}

.services_show{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:30px;
    flex-wrap: wrap;
    margin: 5vw auto;
    align-items: center;
    text-align: center;
    /* change this for the smaller screens */
    width: 80%; 
    
}
.each_service{
    width: 310px;
    height: clamp(100px,100%, 250px);
    background-color: var(--white);
    padding-bottom:clamp(20px,25px,30px);
}
.each_service img{
    color:var(--yellow);
    height: 68px;
    width: 68px; 
    margin-top: 2vw; 
}
.each_service h3{
    font-size: 18px;
    color: var(--black);
    margin-top: 20px;
}
.each_service p{
    color: var(--dark_grey);
    font-size:15px;
    margin-top:20px;
}

@media (min-width: 868px){

}
/* *****************portfolio page************** */

.portfolio {
    max-height: 100%;
    width: 80%;
    margin: 0 auto;
}
.portfolio h1{
    font-size: clamp(20px,40px,10vw);
    text-align: center;
    color:var(--black);
}

.portfolio_links{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap:20px;
    margin-top: 10px;
}
.portfolio_links select{
    margin:40px auto;
    height: 30px;
    color:var(--yellow);
    background-color: var(--dark_grey);
    display: none;
    font-size: 20px;
    border-radius: 13px;
}
select option{
    color: black
}
.portfolio_links a{
    color:var(--black);
    font-size: clamp(1px,1.2vw,25px);
    margin-top: 40px;
    font-weight: bold;
    text-decoration: none;
}
.portfolio_links a span{
    color:var(--yellow)
}
.portfolio_links a:hover{
    color:var(--yellow);
}
.portfolio_links a:visited{
    color:var(--yellow);
}
/* portfolio box container */
.portfolio_box_container{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap:30px;

}
.portfolio_box{
    width: 100%;
    max-width:310px;
    height: clamp(120px,12vw,400px);
    background-color: #fff;
    margin-bottom: 50px;
    overflow: hidden; 
    position: relative; 
}

.portfoliohover{
    width: 100%;
    height:100%;
    background-color: var(--yellow);
    margin-bottom: 50px;
    top:0;
    left:-100%;
    position: absolute;
    color:black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: 0.5s;
    z-index: 99;
    opacity: 0.9;
}
.portfoliohover i{
    font-size: 40px;
    color:var(--black)
}

.portfolio_box:hover .portfoliohover{
    left:0;
}


/* portfolio box image */
.portfolio_box img{
    width: 100%;    
    object-fit: cover;
    height: 100%;
    background-blend-mode:normal;
}
@media (max-width:841px) {
    .portfolio_links select{
        display: block;
        width: 90%;
    }
    .portfolio_links a{
        display: none;
    }
}

@media (max-width: 1500px) {
    .portfolio_box_container, 
    .services_show,
     .blog_pages{
       /* height: calc(100vh - 20vh); */
       margin: 20px auto;
        overflow: scroll;
        scroll-behavior: smooth;
        scrollbar-color:inherit;
    }

}

@media (max-width:760px){
    .container{
        height: 100vh;
        width: 90%;
        margin: 0 auto;
        
    }
    .portfolio_box{
        height: 200px;
        /* width: 290px; */
    }
    .portfolio_links a{
        font-size: clamp(3px,3vw,25px);
    }
    .extra_skills h3{
        font-size: 5vw;
    }
    .homepage{
        display: flex;
        flex-direction: column;
    }
    .img{
        width: 100%;
        height: 30%;
        justify-content: center;
    }
    .img img{
        min-height:100%;
        max-width: 80%;
        margin:0;  
    }
  
    .home{
        width: 100%;
        height: 70%;
        text-align: center;
        align-items:center;
    }
    .home h2{
        font-size: 6vw;
        margin-left:0;

    }
    .links{
        margin:20px auto;
    }
    .hirebtn{
        margin-left:0;
        width: 40%;
        font-size: clamp(1px,20px,30px);
        font-weight: bold;;
    }
        .home h1{
        font-size:12vw;
        margin:100px 0 0 0;
    }
    .home p{
        font-size: 25px;
        margin-top: 40px;
        margin-left:0;
        font-weight: bold;
    }
    .linkscontainer{
        display: flex;
        gap:5px;
        align-items: center;
        justify-content: center;     
    }
    .link_icons{
        width: 35px;
        height: 35px;
        font-size: 20px;
    }
    
   
}

/* ********* Blog Page******** */

.blog{
    height: 100%;
    width: 86%;
    margin: 0 auto;
}
.blog h1{
    text-align: center;
    font-size:clamp(20px,40px,10vw);
}
.blog_pages{
    margin:30px auto;
    width: 93%;
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    justify-content:space-between;
    align-items: center;
}

.blog_individual{
    width: clamp(305px,20vw,400px);
    min-height: 480px;
    background-color: white;
    border: 1px solid white;
    margin-bottom:20px;
}
/*blog card image  */
.blog_individual img{
    max-width: 100%;
    min-height: 280px;
}
/* blog word */
.blog_word{
    width: 80%;
    margin: 40px auto;
    height: calc(100%-280px);
}
/* blog card title */
.blog_word h2{
    color:var(--black);
}
/* blog card paragraph */
.blog_word p{
    color: var(--dark_grey);
    margin-bottom: 30px;
}
/* blog card link */
.blog_word a{
    color: var(--yellow);
    text-decoration: none;  
}

.icons_reaction{
    width: 80%;
    height: 20px;
    margin: 5% auto;
 }
 
 .iconsreact{
     display: flex;
     align-items: flex-end;
     justify-content: flex-start;
 }
 .reaction1{
     width: 30%;
     display: flex;
     gap: 10px;
 
 }
 
 .reaction1 p{
     font-size: 15px;
     color: green;
     font-weight: bold;
 }
 @media (max-width: 1090px) {
    .blog_pages{
        margin: 20px auto;

    }

    .blog_pages,
    .services_show{
        width: 100%;
        justify-content: center;
        display: flex;
        align-items: center;   
        flex-wrap: wrap;     
    }
 }

/* ******************Contact Page******************** */

.contactsinfo{
    width: 78%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.leaveinfo{
    width: 60%;
}

.leaveinfo form{
    margin-top: 20px;  
  
}
.leaveinfo h3{
    font-size: 32px; 
    margin-top: 20px;   
}


.myinfo{
    width: 40%;    
}
.myinfo h3{
    font-size: clamp(10px,32px,40px );
    margin-top: 20px;   

}
/* my info */

.info{
    width: 80%;
    height: clamp(200px,320px,350px);
    background-color: var(--white);
    border-radius: 20px;
    margin-top: 40px;
    padding-top: 20px;
    flex: 1;
}
.icons{
    display: flex;
    justify-content: center;
    gap:10px;
    
}
.eachicon{
    width: 30px;
    display: flex;
    height: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: var(--yellow);

}
.myinfo .infos{
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
    color: var(--dark_grey);
    font-size: clamp(1px,14px,20px);
}
.info1 p,.info2 p{
    margin-top: 20px;
    flex:1;
}
.info1 p{
    text-align:left;
}
.info2 p{
    text-align: right;
}
form button{
    width: 160px;
    height: 36px;
    color: var(--black);
    background-color: var(--yellow);
    border: 1px solid var(--yellow);
    font-weight: bold;
    margin:20px;
}
form{
    width: 90%;
    background-color: var(--white);
    border-radius: 10px;
    height: auto;
    padding-top: 20px;
    
}
form label{
    display: block;
    font-size: 18px;
    color: var(--dark_grey);

}
.inputs{
    margin: 20px 0px 0px 20px;
    
}

#errorContainer{
    margin: 20px 0px 0px 20px;
    height: auto;
    width: auto;
}
input[type="text"]{
    background-color: var(--light_grey);
    width: 90%;
    height: 50px;
    font-size: 29px;

}
textarea{
    background-color: var(--light_grey);
    width: 80%;
    resize: none;
}

@media (max-width:1218px) {
    
    .contactsinfo{
        flex-wrap: wrap;
        height: auto;;
    }
    .leaveinfo {
       width: 100%;
       height: 50%;
        
    }
    
    
    .myinfo{
        width: 100%;
        height: 50%;        
    }   

    .contactsinfo h3{
        font-size: 20px;
    }
    form{
        width:100%;
    }
    .info{  
        width: 100%;
    }
    .infos{
        display: flex;
        justify-content: space-around;
        width: 100%;        
    }
    input[type="text"]{
        background-color: var(--light_grey);
        width: 90%;
        height: 50px;
        font-size: 29px;
    
    }
    textarea{
        background-color: var(--light_grey);
        width:90%;
        resize: none;
    }
    footer{
        width:100%;
    }

    form button{
        width: 88%;
    }

}



/* ************footer ******** */
.footer{
    margin-top: 30px;
    position: sticky;
}

footer{
    width:100%;
    margin: 0 auto;
    height: 7vh;
    font-size:15px;
    max-width: 100%;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}
