@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
:root{
    --yellow:#FFB400;
    --dark_grey:#767676;
    --light_grey:#E4E6EB;
    --light_white:#F0F0F6;
    --black:#2B2B2B;
    --white:#FFFFFF;
}
*{
    margin: 0;
    padding:0;

}

body{
    background-color: var(--dark_grey);
    font-family: 'Inter', sans-serif;
}
section{
    color: var(--yellow);
    width: clamp(430px,40%,100%);
    margin: 5% auto;
    height: 100%;
}
/* section css */
form{
    background-color: var(--black);
    width: 100%;
    min-height: 500px;
    height: clamp(50%,500px,70%);   
    border: 1px solid var(--black);
    margin-top: 50px;
    border-radius: 20px;

}
/* form css */
.form{
    margin-top: 50px;
    padding-bottom: 50px;       
}
.format{
    width: 70%;
    margin: 10px auto;
}
/* go home btn */
.button  button{
    width: clamp(100px,40%,230px);
    height: clamp(20px,50px,60px);
    background-color:var(--black);
    color: var(--yellow);
    cursor: pointer;
}
/* login btn  */
.lgnbtn,
.signupbtn{
    background-color: var(--yellow);
    border:1px solid var(--yellow);
    width: 100%;
    margin-top:50px ;
    min-height: 73px;
    border-radius: 20px;
    letter-spacing: 10px;
    font-size: 35px;
    cursor: pointer;
}
/* login h1  */
h1{
    font-size: clamp(40px,76px,96px);
    letter-spacing: 5px;
    font-weight: normal;

}



.link-sign{
   color: var(--white);
   text-decoration: none;
}
.signuplink{
    color: var(--yellow);
    text-decoration: none;
    font-size:20px;
    margin-bottom: 30px;
}
/* label  */
label{
    font-size: 1.5vw;
    letter-spacing: 5px;
    font-weight: normal;
}
/* inputs email and password */
input[type="text"], input[type="password"]{
        width: 100%;
        margin-top: 5px;
        height: 40px;
        border-radius: 10px;
        height: 40px;
        font-size: 20px;
        margin-top: 10px;
        border: 1px solid var(--white);
        padding: 5px;
}
/* input box */
.form_input{
    margin-top: 25px;
}
/* width at 1200px */
@media (max-width: 1200px) {
    label{
        font-size: 3vw;
        letter-spacing: 5px;
        font-weight: normal;
    }
}
/* media query at 475px */
@media (max-width: 475px){
 body{
        background-color: var(--black);
        margin: 0;
        padding: 0;
    }
    section{
       max-width: 100%;
    }
 input[type="text"], input[type="password"]{
        width: 100%;
        margin-top: 10px;
        height: 35px;
        border: 1px solid var(--white);

}
label{
    font-size: 3vw;
    letter-spacing: 5px;
    font-weight: normal;
}
section{
        margin-top: 1%;
        width: 100%;
    }
    
.format{
        width: 80%;
        margin-top: 70px;
    }
    .button button{
        background-color: var(--dark_grey);
        color:var(--white);
        border:1px solid var(var(--dark_grey));
        margin-top: 10px;
    }
    h1{
        letter-spacing: 5px;
        font-weight: normal;
        font-size:xxx-large;
    }
label{
        font-size:20px;
        letter-spacing: 5px;
        font-weight: regular;
    }
    form button{
        font-size: 90%;
        letter-spacing: 10px;
        height:50px ;
    }
    .form{
        margin-top:60px;
    }
    .button{
        width: 80%;
        margin: 0 auto;

    }

}
/* media querie at 380px */
@media (max-width:380px) {
    section a button{
        width: 50%;
    }

}
/* media query at 1200px */
@media (max-width:1200px) {
 section{
    width: clamp(430px,50%,80%);
 }
}

#error{
    margin-top: 10px;
    width: 100%;
    height: auto;

}

#error p{
    font-size: 20px;
    margin-top: 5px;
    color: red;
}
